In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
label = pd.read_csv('./HasEmpty/Test_Prediction.txt', header=None)
prob = pd.read_csv('./HasEmpty/PredictionsOutput.txt', sep=" ", header=None)
train_data = pd.read_csv('./HasEmpty/TNC2_FileName_ID_wo_unknow_FullClass_test_random.txt', sep="\t", header=None)
test_data = pd.read_csv('./HasEmpty/TNC2_FileName_ID_wo_unknow_FullClass_train_random.txt', sep="\t", header=None)

In [5]:
label.columns = ['filename', 'true_label', 'pred_label', 'max_prob']
train_data.columns = ['filename', 'true_label']
test_data.columns = ['filename', 'true_label']

In [7]:
print("train data has following categorie:\n {}.".format(sorted(train_data.true_label.unique())))
print("test data has following categorie:\n {}.".format(sorted(test_data.true_label.unique())))

train data has following categorie:
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41].
test data has following categorie:
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41].

In [8]:
prob.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0.001,0.001,0.005,0.214,0.015,0.003,0.091,0.285,0.004,0.004,...,0.001,0.003,0.001,0.001,0.002,0.001,0.001,0.002,0.001,0.003
1,0.000,0.001,0.000,0.000,0.983,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,0.000,0.002,0.441,0.512,0.004,0.000,0.000,0.002,0.000,0.002,...,0.000,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.001,0.000
3,0.000,0.997,0.000,0.000,0.003,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,0.000,0.000,0.031,0.967,0.000,0.000,0.000,0.000,0.000,0.002,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000